    <div class="footer">
      <div class="footer-links">
        <a href="https://github.com/Kodingroo" target="_blank"><i class="fab fa-github"></i></a>
        <a href="https://www.linkedin.com/in/kodingroo/" target="_blank"><i class="fab fa-linkedin"></i></a>
        <a href="https://www.facebook.com/isaac.hayward.14" target="_blank"><i class="fab fa-facebook-square"></i></a>
        <a href="https://twitter.com/kodingroo" target="_blank"><i class="fab fa-twitter"></i></a>
      </div>
    </div>
  </div>
