
<nav class="navigation fixed-top">
  <div id="navigation__left">
    <a href="/" class="no-hover home-link" >
      Kodingroo
    </a>
  </div>

  <div class="navigation__right">
    <div class="top-icon">
      <div class="top-icon-links">
        <a href="https://github.com/Kodingroo" target="_blank"><i class="fab fa-github"></i></a>
        <a href="https://www.linkedin.com/in/kodingroo/" target="_blank"><i class="fab fa-linkedin"></i></a>
        <a href="https://www.facebook.com/isaac.hayward.58" target="_blank"><i class="fab fa-facebook-square"></i></a>
        <a href="https://twitter.com/kodingroo" target="_blank"><i class="fab fa-twitter"></i></a>
      </div>
    </div>
  </div>
</div>

</nav>
