@import "base";

.footer {
  visibility: hidden;
}

@media (max-width: 760px) {
  .footer {
    visibility: visible;
    background: $nav;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100px;
    padding: 0px 50px;
    color: $primary;
    font-size: 40px;
    opacity: 0.9;
  }
  .footer-links {
    display: flex;
    align-items: center;
  }
  .footer-links a {
    color: $button;
    opacity: 0.5;
    text-decoration: none;
    font-size: 50px;
    padding: 0px 1rem;
  }
  .footer-links a:hover {
    opacity: 1;
  }
}
